<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filesystem</title>
</head>
<body>
<table>
    <tr>
        <td>
            <form action="http://localhost:5000/filesystem" method="POST">
                <p>Username<input type="text" name="username"/><input type="submit" value="Log in"/></p>
            </form>
        </td>
    <tr>
    <tr>
        <td>{{ result }}</td>
    </tr>
    <tr>
        <td>
            <form action="http://localhost:5000/">
                <input type="submit" value="Go to main page"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>