<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filesystem</title>

</head>
<body>
<table>
    <tr>
        <td>
            <form action="http://localhost:5000/directory_create" method="POST">
                <p>New directory<input type="text" name="dirname"/><input type="submit" value="Create"/></p>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="http://localhost:5000/file_create" method="POST">
                <p>New file<input type="text" name="filename"/><input type="submit" value="Create"/></p>
            </form>
        </td>
    </tr>
</table>

{{ name }}'s files:<br>


<table>
    {% for file in result %}
    {% if file[1] == 'dir' %}
    <tr>
        <td>
            {{ file[0] }}
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <form action="http://localhost:5000/filesystem_dir" method="POST">
                <button name="filename" value={{ file[0] }}>Open</button>
            </form>
        </td>
        <td>
            <form action="http://localhost:5000/dir_delete" method="POST">
                <button name="filename" value={{ file[0] }}>Delete</button>
            </form>
        </td>

    </tr>
    {% endif %}
    {% if file[1] == 'file' %}
    <tr>
        <td>
            {{ file[0] }}
        </td>
        <td>
            <form action="http://localhost:5000/file_info" method="POST">
                <button name="filename" value={{ file[0] }}>Info</button>
            </form>
        </td>
        <td>
            <form action="http://localhost:5000/file_upload" method="POST">
                <button name="filename" value={{ file[0] }}>Upload</button>
            </form>
        </td>
        <td>
            <form action="http://localhost:5000/file_download" method="POST">
                <button name="filename" value={{ file[0] }}>Download</button>
            </form>
        </td>
        <td>
            <form action="http://localhost:5000/file_move" method="POST">
                <input type="text" name="path_to_move"/>
                <button name="filename" value={{ file[0] }}>Move</button>
            </form>
        </td>
        <td>
            <form action="http://localhost:5000/file_copy" method="POST">
                <button name="filename" value={{ file[0] }}>Copy</button>
            </form>
        </td>
        <td>
            <form action="http://localhost:5000/file_delete" method="POST">
                <button name="filename" value={{ file[0] }}>Delete</button>
            </form>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
</body>
</html>