<html>
<body>
<table border=0>
    <tr>
        {{ filename }}
        <form action="http://10.1.1.131:5000/download" method="POST">
            <button name="name" value={{ filename }}>Download</button>
        </form>
    </tr>
    <tr>
        <td>
            <form action="http://10.1.1.131:5000/filesystem" method="POST">
                <button name="name" value={{ user }}>Go to main page</button>
            </form>
            <form action=http://10.1.1.131:5000/">
                <input type="submit" value="Log out"/>
            </form>
        </td>
    </tr>

</table>
</body>
</html>