<!doctype html>
<html>
<body>
<table border=0>
    <tr>
    </tr>
    <tr>
        <td>
            <form>
                <input type="button" value="Previous page" onClick='javascript:history.back();'>
            </form>
            <form action="http://localhost:5000/filesystem" method="POST">
                <button name="name" value={{ user }}>Go to main page</button>
            </form>
            <form action="http://localhost:5000/">
                <input type="submit" value="Log out"/>
            </form>
        </td>
    </tr>

</table>
</body>
</html>