<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filesystem</title>

</head>
<body>
<table>
    <tr>
        <td>
            <form action="http://localhost:5000/directory_create" method="POST">
                <p>New directory<input type="text" name="dirname"/><input type="submit" value="Create"/></p>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="http://localhost:5000/file_create" method="POST">
                <p>New file<input type="text" name="filename"/><input type="submit" value="Create"/></p>
            </form>
        </td>
    </tr>
</table>

{{ name }}'s files:<br>
{{ result}}
<table>
    <tr>
        <td>
            Directory name
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <form action="http://localhost:5000/filesystem_dir" method="POST">
                <input type="text" name="dirname"/><input type="submit" value="Open"/>
            </form>
        </td>
        <td>
            <form action="http://localhost:5000/dir_delete" method="POST">
                <input type="text" name="filename"/><input type="submit" value="Delete"/>
            </form>
        </td>

    </tr>
    <tr>
        <td>
            Filename
        </td>
        <td>
            <form action="http://localhost:5000/file_info" method="POST">
                <input type="text" name="filename"/><input type="submit" value="Info"/>
            </form>
        </td>
        <td>
            <form action="http://localhost:5000/file_download" method="POST">
                <input type="text" name="filename"/><input type="submit" value="Download"/>
            </form>
        </td>
        <td>
            <form action="http://localhost:5000/">
                <input type="submit" value="Move"/>
            </form>
        </td>
        <td>
            <form action="http://localhost:5000/">
                <input type="submit" value="Copy"/>
            </form>
        </td>
        <td>
            <form action="http://localhost:5000/file_delete" method="POST">
                <input type="text" name="filename"/><input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>