<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DFS</title>
</head>
<body>
<table>
    <tr>
        <td>
            <form action="http://localhost:5000/start">
                <input type="submit" value="Create new user"/>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="http://localhost:5000/enter_filesystem">
                <input type="submit" value="Enter the filesystem"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>