<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DFS</title>
</head>
<body>
<table>
    <tr>
        <td>
            <form action="http://localhost:5000/start">
                <input type="submit" value="Create new user"/>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="http://localhost:5000/directory_create" method="POST">
                <p>New directory<input type="text" name="dirname"/><input type="submit" value="Create"/></p>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="http://localhost:5000/file_create" method="POST">
                <p>New file<input type="text" name="filename"/><input type="submit" value="Create"/></p>
            </form>
        </td>
    </tr>
</table>


<table>
    <tr>
        <td>
        </td>
    </tr>
</table>
</body>
</html>