<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DFS</title>
</head>
<body>
<form action="http://localhost:5000/initialize" method="POST">
    <p>New username<input type="text" name="username"/><input type="submit" value="Create"/></p>
</form>
<form action="http://localhost:5000/directory_create" method="POST">
    <p>New directory<input type="text" name="dirname"/><input type="submit" value="Create"/></p>
</form>
<form action="http://localhost:5000/file_create" method="POST">
    <p>New file<input type="text" name="filename"/><input type="submit" value="Create"/></p>
</form>

<table>
    <tr>
        <td>
        </td>
    </tr>
</table>
</body>
</html>